# Node modules
node_modules/



# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build output
/dist
/build

# VSCode settings
.vscode/

# Uploaded files (jika ada folder upload/public)
public/uploads/
uploads/

# Environment variables
.env